.body
{
	background:#000;
	font-family:DPix_8pt;
}
.statusBar
{
	margin-left:1%;
	position:fixed;
	width:20%;
	color:#fff;
	font-size:24px;
	word-break:break-all;
}
.timer
{
	text-align:right;
	margin-right:1%;
	right:0;
	position:absolute;
	width:20%;
	color:#fff;
	font-size:24px;
	word-break:break-all;
}
.game canvas
{
	margin-left:25%;
	width:50%;
	height:100%;
	display: block;
	position:absolute;
	left:0;
	top:0;
}
.maplist
{
	margin-left:25%;
	width:50%;
	height:100%;
	display:none;
	position:absolute;
	left:0;
	top:0;
}
.menu
{
	background:#fff;
	display: none;
    align-items: center;
    justify-content: center;
	
	width:50%;
	height:75%;
	transform: translate(50%, 12.5%);
}
.menu-content
{
	display:block;
	margin:auto;
	width:90%;
	height:90%;
	background:#888888;
	border:5px solid #000;
	text-align:center;
}
.title
{
	margin-top:10%;
	font-size:36px;
}
.text
{
	font-size:24px;
	text-align:justify;
	padding: 0 5%;
}
@media(max-width:1500px)
{
	.text
	{
		font-size:18px;
	}
	.title
	{
		font-size:24px;
	}
}
.menu-btn
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	height:10%;
	margin-bottom:1%;
	font-family:DPix_8pt;
	font-size:15px;
}
}
